python-dotenv
requests
pydantic
sentence-transformers
fastapi
uvicorn
numpy
pandas
torch
dvc

# ✔ LangChain eski sürüm — globals destekli
langchain==0.0.350
langchain-core==0.1.30
langchain-community==0.0.27
